@model LanchesMac.Models.Categoria

@{
    ViewData["Title"] = "Detalhes da Categoria";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome): 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao): 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CategoriaId" class="btn btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
