@model IEnumerable<LanchesMac.Models.Lanche>
@{
    ViewData["Title"] = "Todos os Lanches";
}
<div>
    <h2>@ViewData["Title"]</h2>
</div>
<hr />
<br />

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <p><img src="@item.ImagemUrl" class="img-fluid"></p>
                
                <h3>@item.Preco.ToString("C")</h3>
                <h4>@item.Nome</h4>
                <p>@item.DescricaoCurta</p>
            </div>
        }

    </div>
</div>